
@media screen and (max-width: 400px) {
  footer {
    margin: auto;
  }
}
@media screen and (max-width: 499px) {
  .app-bar .app-bar__brand {
    margin-top: 10px;
  }

  header {
    background-color: #d88220;
    color: #fff;
    margin: 0 auto;
    padding: 20px auto;
    height: 60px;
  }
  ul {
    list-style-type: none;
  }
  li {
    list-style-type: none;
  }
}

@media screen and (min-width: 100px) {
  * {
    min-height: 46px;
    min-width: 46px;
  }
  li {
    list-style-type: none;
  }
  ul {
    list-style-type: none;
  }
  .restaurant-item__foods,
  .restaurant-item__drinks{
    list-style-type: disc; 
  }
}


@media screen and (min-width: 650px) {
  .app-bar {
    grid-template-columns: 1fr auto;
    padding: 8px 20px;
  }

  .app-bar .app-bar__brand h1 {
    font-size: 1.5em;
  }

  .app-bar .app-bar__menu {
    display: none;
  }

  .app-bar .app-bar__navigation {
    position: static;
    width: 100%;
  }

  .app-bar .app-bar__navigation ul li {
    display: inline-block;
  }

  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    width: 120px;
    text-align: right;
    margin: 0;
  }
  ul{
    margin-top: 2px;
  }
  
}

@media screen and (min-width: 800px) {
  .app-bar .app-bar__brand h1{
      font-size:  2em;
  }
}

@media screen and (min-width: 850px) {
  .restaurants{
      grid-template-columns: repeat(3, 1fr);
  }
  .restaurant{
    grid-template-columns: 1fr 2fr;
  }
  .restaurant-item .restaurant-item__header .restaurant-item__header__image {
    width: 100%;
    height: 200px;
  }
}


@media screen and (min-width: 1200px) {
  .restaurants {
    grid-template-columns: repeat(4, 1fr);
  }
  .restaurant{
    grid-template-columns: 1fr 2fr;
  }
}
@media screen and (min-width: 1600px) {
  .restaurants{
      grid-template-columns: repeat(5, 1fr);
  }
  .restaurant{
    grid-template-columns: 1fr 2fr;
  }
}